body{
    padding: 0 7%;
}

.login-container{
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.inputs{
    text-align: center;
}

#email{
    margin: 10px 0px;
  
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.text{
    font-size: large;
    font-weight:500 ;
}

.button{
    margin: 10px 0;
}