<%- include('header') -%>
<%- include('navbar') -%>

    <div class="container mt-5">
        <h1>Welcome to the EJS Examples</h1>
        <p>Check out the following examples:</p>
        <ul>
            <li><a href="/items">List of Items</a></li>
            <li><a href="/cards">Product Cards</a></li>
            <li><a href="/table">User Table</a></li>
        </ul>
    </div>
</body>
</html>